In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("Fast Food Analysis Project Spreadsheet.xlsx")

In [3]:
df.head()

,Unnamed: 0,Restaurant,Item Name,Calories,Protein (g),Total Fats (g),Sodium (mg),Total Sugars (g),Cholestrol (mg),Price ($),Carbs (g),Fiber (g)
0,NaN,McDonald's,"Bacon, Egg, and Cheese McGriddle",430,17,21,1230,15,215,5.79,44,2
1,NaN,McDonald's,"Sausage, Egg, and Cheese McGriddle",550,19,33,1290,15,235,5.99,44,2
2,NaN,McDonald's,Quarter Pounder with Cheese,520,30,26,1140,10,95,6.89,42,2
3,NaN,McDonald's,Small Fry,230,3,11,190,0,0,3.49,31,3
4,NaN,McDonald's,4 pc. Chicken McNuggets,170,9,10,340,0,25,3.69,10,0

In [4]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [5]:
df.head()

,Restaurant,Item Name,Calories,Protein (g),Total Fats (g),Sodium (mg),Total Sugars (g),Cholestrol (mg),Price ($),Carbs (g),Fiber (g)
0,McDonald's,"Bacon, Egg, and Cheese McGriddle",430,17,21,1230,15,215,5.79,44,2
1,McDonald's,"Sausage, Egg, and Cheese McGriddle",550,19,33,1290,15,235,5.99,44,2
2,McDonald's,Quarter Pounder with Cheese,520,30,26,1140,10,95,6.89,42,2
3,McDonald's,Small Fry,230,3,11,190,0,0,3.49,31,3
4,McDonald's,4 pc. Chicken McNuggets,170,9,10,340,0,25,3.69,10,0

In [6]:
df.shape

(49, 11)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Restaurant        49 non-null     object
 1   Item Name         49 non-null     object
 2   Calories          49 non-null     int64
 3   Protein (g)       49 non-null     int64
 4   Total Fats (g)    49 non-null     int64
 5   Sodium (mg)       49 non-null     int64
 6   Total Sugars (g)  49 non-null     int64
 7   Cholestrol (mg)   49 non-null     int64
 8   Price ($)         49 non-null     float64
 9   Carbs (g)         49 non-null     int64
 10  Fiber (g)         49 non-null     int64
dtypes: float64(1), int64(8), object(2)
memory usage: 4.3+ KB

In [8]:
print(df.columns)

Index(['Restaurant', 'Item Name', 'Calories ', 'Protein (g)', 'Total Fats (g)',
       'Sodium (mg)', 'Total Sugars (g)', 'Cholestrol (mg)', 'Price ($)',
       'Carbs (g)', 'Fiber (g)'],
      dtype='object')

In [9]:
df = df.rename(columns={'Restaurant': 'restaurant_name', 'Item Name': 'item_name', 'Calories ': 'calories', 'Protein (g)': 'protein_g',
 'Total Fats (g)': 'fats_g', 'Sodium (mg)': 'sodium_mg', 'Total Sugars (g)': 'sugars_g',
 'Cholestrol (mg)': 'cholestrol_mg', 'Price ($)': 'price', 'Carbs (g)': 'carbs_g', 
 'Fiber (g)': 'fiber_g'})
df.head()

,restaurant_name,item_name,calories,protein_g,fats_g,sodium_mg,sugars_g,cholestrol_mg,price,carbs_g,fiber_g
0,McDonald's,"Bacon, Egg, and Cheese McGriddle",430,17,21,1230,15,215,5.79,44,2
1,McDonald's,"Sausage, Egg, and Cheese McGriddle",550,19,33,1290,15,235,5.99,44,2
2,McDonald's,Quarter Pounder with Cheese,520,30,26,1140,10,95,6.89,42,2
3,McDonald's,Small Fry,230,3,11,190,0,0,3.49,31,3
4,McDonald's,4 pc. Chicken McNuggets,170,9,10,340,0,25,3.69,10,0

In [10]:
## standardizing sodium, cholestrol, price bc measured in different units. 
from scipy import stats

In [11]:
df['sodium_mg_z'] = stats.zscore(df['sodium_mg'])
df['cholestrol_z'] = stats.zscore(df['cholestrol_mg'])
df['price_z'] = stats.zscore(df['price'])

In [12]:
df.head()

,restaurant_name,item_name,calories,protein_g,fats_g,sodium_mg,sugars_g,cholestrol_mg,price,carbs_g,fiber_g,sodium_mg_z,cholestrol_z,price_z
0,McDonald's,"Bacon, Egg, and Cheese McGriddle",430,17,21,1230,15,215,5.79,44,2,0.291520,2.286622,-0.302539
1,McDonald's,"Sausage, Egg, and Cheese McGriddle",550,19,33,1290,15,235,5.99,44,2,0.374208,2.598290,-0.228231
2,McDonald's,Quarter Pounder with Cheese,520,30,26,1140,10,95,6.89,42,2,0.167487,0.416617,0.106154
3,McDonald's,Small Fry,230,3,11,190,0,0,3.49,31,3,-1.141751,-1.063804,-1.157080
4,McDonald's,4 pc. Chicken McNuggets,170,9,10,340,0,25,3.69,10,0,-0.935029,-0.674220,-1.082772

In [13]:
df.drop('cholestrol_mg', axis=1, inplace=True)

In [19]:
df.drop('sodium_mg', axis=1, inplace=True)

In [20]:
df.drop('price', axis=1, inplace=True)

In [21]:
df.head()

,restaurant_name,item_name,calories,protein_g,fats_g,sugars_g,carbs_g,fiber_g,sodium_mg_z,cholestrol_z,price_z
0,McDonald's,"Bacon, Egg, and Cheese McGriddle",430,17,21,15,44,2,0.291520,2.286622,-0.302539
1,McDonald's,"Sausage, Egg, and Cheese McGriddle",550,19,33,15,44,2,0.374208,2.598290,-0.228231
2,McDonald's,Quarter Pounder with Cheese,520,30,26,10,42,2,0.167487,0.416617,0.106154
3,McDonald's,Small Fry,230,3,11,0,31,3,-1.141751,-1.063804,-1.157080
4,McDonald's,4 pc. Chicken McNuggets,170,9,10,0,10,0,-0.935029,-0.674220,-1.082772

In [14]:
df.isnull().sum()

restaurant_name    0
item_name          0
calories           0
protein_g          0
fats_g             0
sodium_mg          0
sugars_g           0
price              0
carbs_g            0
fiber_g            0
sodium_mg_z        0
cholestrol_z       0
price_z            0
dtype: int64

In [15]:
df.duplicated().sum()

np.int64(0)

In [16]:
df.describe()

,calories,protein_g,fats_g,sodium_mg,sugars_g,price,carbs_g,fiber_g,sodium_mg_z,cholestrol_z,price_z
count,49.000000,49.000000,49.000000,49.000000,49.000000,49.000000,49.000000,49.000000,4.900000e+01,4.900000e+01,4.900000e+01
mean,444.693878,20.204082,22.979592,1018.469388,8.959184,6.604286,40.306122,2.938776,-2.718914e-17,4.871387e-17,4.350262e-16
std,226.265902,14.850617,14.138437,733.132693,16.724432,2.719396,21.897683,3.044176,1.010363e+00,1.010363e+00,1.010363e+00
min,80.000000,0.000000,0.000000,0.000000,0.000000,1.820000,10.000000,0.000000,-1.403598e+00,-1.063804e+00,-1.777551e+00
25%,270.000000,7.000000,14.000000,380.000000,2.000000,4.550000,26.000000,1.000000,-8.799032e-01,-7.521365e-01,-7.632484e-01
50%,430.000000,18.000000,21.000000,1010.000000,5.000000,6.330000,42.000000,2.000000,-1.167204e-02,-1.288014e-01,-1.019080e-01
75%,570.000000,29.000000,31.000000,1420.000000,10.000000,7.490000,46.000000,4.000000,5.533673e-01,3.387000e-01,3.290779e-01
max,1270.000000,61.000000,78.000000,3070.000000,113.000000,13.980000,129.000000,14.000000,2.827306e+00,3.844960e+00,2.740369e+00

In [17]:
df.sort_index()

,restaurant_name,item_name,calories,protein_g,fats_g,sodium_mg,sugars_g,price,carbs_g,fiber_g,sodium_mg_z,cholestrol_z,price_z
0,McDonald's,"Bacon, Egg, and Cheese McGriddle",430,17,21,1230,15,5.79,44,2,0.291520,2.286622,-0.302539
1,McDonald's,"Sausage, Egg, and Cheese McGriddle",550,19,33,1290,15,5.99,44,2,0.374208,2.598290,-0.228231
2,McDonald's,Quarter Pounder with Cheese,520,30,26,1140,10,6.89,42,2,0.167487,0.416617,0.106154
3,McDonald's,Small Fry,230,3,11,190,0,3.49,31,3,-1.141751,-1.063804,-1.157080
4,McDonald's,4 pc. Chicken McNuggets,170,9,10,340,0,3.69,10,0,-0.935029,-0.674220,-1.082772
5,McDonald's,McDouble,390,22,20,920,6,4.29,32,2,-0.135705,0.027032,-0.859849
6,McDonald's,McChicken,390,14,21,560,4,3.99,38,1,-0.631837,-0.440469,-0.971310
7,McDonald's,Sausage McMuffin,400,14,26,760,2,3.19,29,2,-0.356208,-0.206718,-1.268542
8,McDonald's,Big Mac,580,25,34,1060,7,6.59,45,3,0.057235,0.260783,-0.005308
9,Chick-fil-A,Spicy Deluxe Sandwich,540,34,26,1880,7,8.39,47,2,1.187314,0.260783,0.663463
10,Chick-fil-A,Grilled Chicken Club Sandwich,520,37,22,1055,12,11.55,45,3,0.050344,0.572451,1.837528
11,Chick-fil-A,Small Mac & Cheese,270,12,17,710,2,4.55,17,2,-0.425115,-0.440469,-0.763248
12,Chick-fil-A,3 ct. Chick-n-Strips,310,29,14,870,2,7.49,16,0,-0.204612,0.104949,0.329078
13,Chick-fil-A,Medium Waffle Potato Fries,420,5,24,240,1,3.59,45,5,-1.072843,-1.063804,-1.119926
14,Chick-fil-A,8 ct. Nuggets,250,27,11,1210,1,7.15,11,0,0.263957,0.260783,0.202754
15,Chick-fil-A,Chicken Sandwich,420,29,18,1460,6,7.09,41,1,0.608493,0.027032,0.180462
16,Chick-fil-A,Cool Wrap,660,43,45,1420,5,11.25,32,14,0.553367,0.650368,1.726067
17,Chick-fil-A,Smokehouse BBQ Bacon Sandwich w/ Reg Filet,670,41,31,1930,12,10.45,57,3,1.256221,0.650368,1.428835
18,Chick-fil-A,Deluxe Sandwich,490,32,22,1700,7,7.99,43,1,0.939248,0.260783,0.514848
19,Starbucks,Small Blonde Vanilla Latte,130,6,3,0,17,6.55,18,0,-1.403598,-0.830053,-0.020169
20,Starbucks,"Sausage, Cheddar, & Egg Sandwich",480,18,29,890,2,5.95,34,1,-0.177049,1.507453,-0.243093
21,Starbucks,Tall Mocha Cookie Crumble Frappuccino,350,4,17,200,40,6.95,45,2,-1.127969,-0.362552,0.128447
22,Starbucks,"Bacon, Gouda, & Egg Sandwich",360,19,18,720,2,6.25,35,1,-0.411334,1.351620,-0.131631
23,Starbucks,Tall Strawberry Aa Lemonade Refresher,80,0,0,10,16,5.95,18,1,-1.389817,-1.063804,-0.243093
24,Starbucks,Tall Iced Shaken Espresso,80,3,1,45,11,5.15,13,0,-1.341582,-0.985887,-0.540325
25,Starbucks,Butter Croissant,250,5,14,300,4,4.75,26,1,-0.990155,-0.362552,-0.688940
26,Starbucks,Birthday Cake Pop,160,2,8,95,16,3.25,21,0,-1.272674,-0.907970,-1.246250
27,Starbucks,Tall Caff Mocha,200,7,9,75,18,6.15,22,2,-1.300237,-0.596303,-0.168785
28,Starbucks,Short Caramel Macchiato,120,5,4,80,15,6.15,16,0,-1.293347,-0.830053,-0.168785
29,Taco Bell,Cantina Chicken Quesadilla,570,29,32,1340,3,7.31,42,4,0.443116,0.338700,0.262201
30,Taco Bell,Crunchwrap Supreme,530,15,20,1220,6,7.31,73,6,0.277738,-0.752137,0.262201
31,Taco Bell,Beefy 5-Layer Burrito,490,17,18,1290,4,5.11,65,7,0.374208,-0.596303,-0.555186
32,Taco Bell,Nachos BellGrande (Beef),730,17,39,1180,4,8.16,80,13,0.222613,-0.752137,0.578009
33,Taco Bell,Nacho Cheese Doritos Locos Tacos Supreme,190,8,11,380,1,4.62,15,3,-0.879903,-0.596303,-0.737241
34,Taco Bell,Grilled Cheese Burrito,710,25,39,1510,4,6.82,64,6,0.677400,0.104949,0.080146
35,Taco Bell,Nacho Fries,330,4,19,770,1,3.16,36,4,-0.342427,-1.063804,-1.279688
36,Taco Bell,Cinnamon Twists,170,1,6,115,10,1.82,27,1,-1.245112,-1.063804,-1.777551
37,Taco Bell,Mexican Pizza,530,19,28,1010,3,7.31,50,8,-0.011672,-0.440469,0.262201
38,Taco Bell,Cheesy Gordita Crunch,490,20,28,850,4,6.33,42,5,-0.232175,-0.206718,-0.101908
39,Zaxbys,Fried White Cheddar Bites,700,27,46,1550,2,7.11,46,3,0.732526,0.104949,0.187893
40,Zaxbys,Chicken Bacon Ranch Loaded Fries,1270,61,78,3070,2,12.39,88,8,2.827306,1.195786,2.149622
41,Zaxbys,Signature Sandwich,600,31,32,2200,8,8.70,45,2,1.628320,0.104949,0.778641
42,Zaxbys,Kickin Chicken Sandwich,690,34,39,2760,5,10.02,51,2,2.400081,-0.050885,1.269073
43,Zaxbys,The Fried Cobb Zalad,780,55,45,2130,5,10.55,43,4,1.531850,3.844960,1.465989
44,Zaxbys,Regular Crinkle Fries,330,5,14,580,0,3.81,47,5,-0.604274,-1.063804,-1.038188
45,Zaxbys,The Fried House Zalad,660,44,37,1920,4,13.98,42,4,1.242440,0.338700,2.740369
46,Zaxbys,Birthday Cake Milkshake,730,13,19,600,113,3.30,129,0,-0.576711,-0.128801,-1.227673
47,Zaxbys,Basket of Texas Toast,450,9,21,1020,5,3.95,57,3,0.002109,-1.063804,-0.986172
48,Zaxbys,5 Chicken Fingerz,420,45,20,2030,0,11.34,16,0,1.394036,0.338700,1.759505

In [18]:
df.sort_values(['Calories '], ascending=False)

KeyError: 'Calories '

In [ ]:
df.groupby('Restaurant')['Fiber (g)'].mean()

In [ ]:
df.groupby('Restaurant')['Calories '].mean()
# to answer question, which restaurant has the most calories, on average

In [ ]:
#to answer most protein on average
df.groupby('Restaurant')['Protein (g)'].mean()

In [ ]:
df.groupby('Restaurant')['Total Fats (g)'].mean()

In [ ]:
df['Protein_per_Calorie'] = df['Protein (g)'] / df['Calories ']

In [ ]:
df.sort_values(['Protein_per_Calorie'], ascending=False)